*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
width: 100%;
height: 80px;
background-color: bisque;
}

.wraper{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.title{
    margin-left: 40px;
}